<div class="content-holder" data-tab="complete">
	    <div class="ui segment main" id="order-complete">	    
		    	<div class="ui secondary menu">
		    		<a href="" class="item">
		    		<img src="assets/logo/feedme_logo.png" alt="thank-you" width="15">
		    		Feed me
		    		</a>		    		
		    		<div class="right menu">
			    		
			    		<button  class="ui green button">
			    		<i class="ui checkmark icon"></i>
			    		ORDER SENT</button>    			
		    		</div>
		    	</div>	    	
	    </div>
	    
	    	<article id="form-container">
			    <article class="ui center aligned segment" id="complete-article">
			    
	    		  <h3 class="ui header">Thank You for your order, {{firstname}}!</h3>
	    		  <h5 class="ui header"> Order is on the way</h5>  				
				</article>
				<div class="ui center aligned segment" id="order">   
      	           			 
      			 <button class="ui red center aligned button" ng-click="close()">
      			       Close
			               
      			 </div>

      	</article>

      	
</div>