<script>
    	$('.ui.dropdown').dropdown();
    	$('.ui.checkbox').checkbox();
</script>
<div class="content-holder">
	   <div class="ui segment main" id="order-complete">	    
		    	<div class="ui secondary menu">
		    		<a href="" class="item">
		    		<img src="assets/logo/feedme_logo.png" alt="Food Logo" height="15">
		    		Feed me
		    		</a>		    		
		    		<div class="right menu">
			    		<a href="" class="item current">ORDER
									
			    		</a>
			    		<a href="" class="item">
							<img src="assets/icons/arrow_process@2x.png" alt="before-finish" height="10">	
			    		ADDRESS  
							<img src="assets/icons/arrow_process@2x.png" alt="finish" height="10">	
			    		</a>
			    		<a href="" class="item">FINISH</a>
			    		&nbsp;&nbsp;&nbsp;&nbsp;
			    		<button  class="ui red button" ng-click="cancelOrder()">
			    		<img src="assets/icons/cancel_icon.png" alt="cancel" height="10">
			    		CANCEL ORDER</button>    			
		    		</div>
		    	</div>	    	
	    </div>
	    
	    	<article id="form-container">
			    <article class="ui center aligned segment">

			    <div class="ui center aligned grid">
	    		   <form name="orderA" class="ui form" id="order-form-1" novalidate>	
	    		   <h3 class="ui header">Your Order</h3>    		
	    			<div class="grouped fields">
    					<label>Choose Pizza Size in cm</label>

					    <div class="field" ng-repeat="sizer in pizzaSizes">
					      <div class="ui radio checkbox">
					        <input type="radio" value="{{sizer.size}}"  ng-model="$parent.order">
					        <label>{{sizer.num}}</label>
					      </div>
					    </div>
					    
				
					</div>
	       
	          				
				  <div class="field" style="max-width:300px;">
				    <label>Ingredients</label>
				    <span ng-show="orderA.ingredients.$error.required">
				    	Please Select Ingrendients
				    </span>
				    <select multiple="" class="ui dropdown" name="ingredients" ng-model="needIngredients">
				      <option value="" >Select Ingredients</option>  
				      <option ng-repeat="item in ingredients" value="{{item}}" >{{item}}</option>   
				      
				    </select>
				  </div>
				 
		
				
			<div class="field">
			    <div class="ui toggle checkbox">
			       <label> Cheese Rand</label>
			       <input type="checkbox" ng-model="needCheese"  ng-true-value="'Yes'" ng-false-value="'No'">		  	     
			    </div>

    		</div>
    		
					

			</form>

	    		</div>
      	   
      	      <h2 class="ui divider"></h2>    
 				 <div class="ui centered column grid" id="order-btn">			        
			        <button  type="submit" ng-disabled="orderA.$invalid" class="ui red button" ng-click="getOrderDetails()">
			        Next
			        <img src="assets/icons/next_icon.png" alt="next_icon" height="10">
			    		</button>  	        
      			 </div>
				
				</article>

      	</article>

      	
</div>
    

